
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.Versus {
  animation: fadeIn 0.5s cubic-bezier(0.4, 0, 1, 1);
  max-width: 850px;
  margin: 0 auto;
  padding: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.Versus > span {
  font-size: 30px;
  font-weight: bold;
}
.Versus > .players {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.Player {
  animation: fadeIn 0.2s cubic-bezier(0.4, 0, 1, 1);
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-width: 40%;
  font-size: 14px;
  min-height: 424px;
}
.Player:not(:first-child) {
  margin-left: 2rem;
}
.Player .picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  margin-bottom: 1rem;
}
.Player .fullname {
  color: #3e3e3e;
  font-weight: bold;
  font-size: 20px;
}
.Player .rank {
  color: black;
  font-weight: bold;
}
.Player h2 {
  align-self: flex-start;
  text-transform: uppercase;
  color: #212121;
  font-size: 14px;
  font-weight: bold;
}
.Player dl {
  width: 100%;
  background: #f1f4f9;
  border-radius: 5px;
  padding: 0.4rem 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.Player dl > div {
  font-size: 14px;
  display: flex;
}
.Player dt {
  color: #777b7e;
}
.Player dd {
  color: #494d50;
  font-weight: bold;
  margin-left: 0.4em;
}
.Player .totalPlayedTime {
  margin-top: 0.6rem;
  padding: 0.4em;
  width: 100%;
  background: black;
  border-radius: 5px;
  color: #b0b0b0;
}
.Player .totalPlayedTime span {
  color: white;
  margin-left: 0.4em;
}
.Player .buttons {
  margin-top: 0.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.Player button {
  color: #909090;
  display: flex;
  align-items: center;
}
.Player button.arrow:after {
  content: ' ';
  display: block;
  width: 0.4em;
  height: 0.4em;
  margin-left: 0.4em;
  border-right: 2px solid;
  border-top: 2px solid;
  border-color: #909090;
  transform: rotate(45deg);
}