
.App {
  background: #f4f5f7;
}

.App .header {
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 0.5em;
}

.App > .errorMessage {
  margin: 2rem auto;
  width: fit-content;
}

.errorMessage {
  text-align: left;
}